.top-header {
    background-color: black;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.top-header .frame{
    display: inline-flex;
    align-items: flex-start;
    position: relative;
}

.top-header .div {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
}

.top-header .text-wrapper {
    position: relative;
    white-space: nowrap;
    width: 470px;
    color: rgba(250, 250, 250, 1);
    font-family: "Poppins-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 18px;
    letter-spacing: 0;
    line-height: 20px;
}

.top-header .text-wrapper-2 {
    position: relative;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    width: fit-content;
    color: rgba(250, 250, 250, 1);
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
}